
.bottom-rectangle{
    -fx-background-color: linear-gradient(#9fd7ff, #9fd7ff);
    -fx-background-radius: 0 0 40 40;
   
    
}

.slider .thumb {
    -fx-background-color: linear-gradient(to right, #FF5733, #FFA07A);
}

.slider .track {
    -fx-background-color: linear-gradient(to right, #15ed20 10%, #ff0000, #ff0000 70%, #ed1515);
}



/* #myRectangle{
    -fx-fill: #9fd7ffs;
    
}

 */
