
.bottom-rectangle{
    -fx-background-color: linear-gradient(#9fd7ff, #9fd7ff);
    -fx-background-radius: 0 0 35 35;

   
    
}

.slider .thumb {
    -fx-background-color: linear-gradient(to right, #FF5733, #FFA07A);
}

.slider .track {
    -fx-background-color: linear-gradient(to right, #15ed20 10%, #ff0000, #e84c4c 70%, #ed1515);
}

/* .chemicalPouch{
    fx-effect: dropshadow(three-pass-box, red, 10, 0, 0, 0);
    -fx-visibility: true;
} */



/* #myRectangle{
    -fx-fill: #9fd7ffs;
    
}

 */
