#redSlider .thumb {
    -fx-background-color: red;
}

#greenSlider .thumb {
    -fx-background-color: green;
}

#blueSlider .thumb {
    -fx-background-color: blue;
}

/*Code from Stack Overflow: https://stackoverflow.com/questions/51343759/how-to-change-fill-color-of-slider-in-javafx*/
.slider {
    -default-track-color: -fx-control-inner-background;
    -track-color: -default-track-color ;
}

.slider .track {
    -fx-background-color: -fx-shadow-highlight-color,
          linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
          -track-color;
}

.sliders{
    -fx-background-color: radial-gradient( center 50% 50%, radius 100%,rgba(43, 30, 84,0.9) 20%,rgba(255,0,0,0) 60% );
    
}

.eyes{
    -fx-background-color: radial-gradient( center 50% 50%, radius 100%,rgba(43, 30, 84,0.9) 30%,rgba(255,0,0,0) 50% );
}

