.text{
    -fx-font-family: "Trebuchet";

}

.title{
    -fx-font-weight:bold;
    -fx-font-size: 48;
}

.tab, .activeTab{
    -fx-font-size:14;
}

.activeTab{
    -fx-text-fill: #FFFFFF;
}

.tab{
    -fx-text-fill: #000000;
}

.h1{
    -fx-font-weight:bold;
    -fx-font-size: 26;
}

.h2{
    -fx-font-size: 20;

}

.h3{
    -fx-font-size: 17;
    -fx-font-style:italic;

}

.Text{
    -fx-font-size: 14;
}

.Rectangle{
    /*light grey = #808080 = rgb(128,128,128)*/
    -fx-fill: rgba(128,128,128,0.9);
}

.activeRectangle{
    /*light grey = #d3d3d3 = rgb(211,211,211)*/
    -fx-fill: rgba(128,128,128,0.5);
    
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
    
 }

.scroll-pane {
    -fx-background-color: rgba(128,128,128,0.5); 
    -fx-background: rgba(0,0,0,1);
    -fx-border-color: rgba(0,255,0,0);
 }

.scroll-pane .scroll-bar:vertical .thumb{
    -fx-background-color: #A0A0A0;
 } 

.scroll-pane .scroll-bar:vertical{
    -fx-background-color: rgba(0,0,0,0.25);
    -fx-font-size: 40;
    -fx-pref-width: 50;
    -fx-padding: 0;
 } 

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #A0A0A0;
}

.closeButton, .hoverCloseButton{
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-font-family: Trebuchet;
    -fx-alignment: Center;
}

.closeButton{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    
}

.hoverCloseButton{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.pointer{
    -fx-text-fill: white;
}

.circle{
    -fx-fill: black;
    -fx-stroke-width: 0;
}
