.walkietalkie {
    -fx-background-color: #8ac1f5;
    -fx-background-radius: 70 0 0 70;
    -fx-border-color: #328add;
    -fx-border-radius: 70 0 0 70;

}

.walkietalkie:hover {
    -fx-cursor: hand;
    -fx-background-color: #9fd7ff;
    -fx-effect: innershadow(gaussian, rgba(13, 70, 148, 0.3), 10, 0.5, 0, 0);

}

.component:hover {
    -fx-cursor: hand;
    -fx-background-color: #9fd7ff;
    -fx-effect: innershadow(gaussian, rgba(13, 70, 148, 0.3), 10, 0.5, 0, 0);
    -fx-background-radius: 70 70 70 70;
}

.component2 {
    -fx-background-color: black;
    -fx-background-radius: 0 20 0 0;

}

.roomswitchback {
    -fx-background-color: #9fd7ff;
    -fx-background-radius: 10;
    -fx-border-color: #328add;
    -fx-border-radius: 10;

}

.text-area {
    -fx-control-inner-background: black;
    -fx-control-inner-border: black;
    -fx-border-color: black;
    -fx-background-color: black;
    -fx-text-fill: green;
}

.text-field {
    -fx-background-color: black;
    -fx-border-color: green;
    -fx-border-radius: 0 0 20 0;
    -fx-text-fill: green;
    -fx-prompt-text-fill: green;
    -fx-background-radius: 0 0 20 0;
}

.keylocations:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 183, 0, 0.7), 5, 5, 0, 0);
    -fx-cursor: hand;
}


.guard:hover {
    -fx-effect: dropshadow(gaussian, rgba(34, 255, 0, 0.7), 5, 5, 0, 0);
    -fx-cursor: hand;

}

.drawer:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.7), 5, 5, 0, 0);
    -fx-cursor: hand;
}

.credentials:hover {
    -fx-effect: dropshadow(gaussian, rgba(34, 255, 0, 0.7), 5, 5, 0, 0);
    -fx-cursor: hand;
}

.close-button {
    -fx-background-color: white;
    -fx-background-radius: 40;
}

.close-button:hover {
    -fx-cursor: hand;
    -fx-border-color: rgb(255, 5, 5);
    -fx-border-radius: 40;
}

.computer-button {
    -fx-background-color: #000000;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #b59e1d;
    -fx-text-fill: #b59e1d;
    -fx-font-size: 15px;
    -fx-font-family: 'Weibei SC';

}

.computer-button:hover {
    -fx-border-color: #eccb0f;
    -fx-text-fill: #eccb0f;
    -fx-cursor: hand;
}

.computer-button:pressed {
    -fx-border-color: #b59e1d;
    -fx-text-fill: #b59e1d;
    -fx-cursor: hand;
}

.text {
    -fx-background-color: #000000;
    -fx-border-color: #eccb0f;
    -fx-text-fill: #eccb0f;
    -fx-prompt-text-fill: #eccb0f;

}

.goldDoor:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 50, 0, 0.7), 5, 5, 0, 0);
    -fx-cursor: hand;
}

.button {
    -fx-background-color: black;
    -fx-text-fill: green;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px; /* Adjust padding as needed */
    -fx-background-radius: 5px; /* Rounded corners */
}

/* Hover effect */
.button:hover {
    -fx-background-color: darkgreen; /* Change color on hover */
}

/* Pressed effect */
.button:pressed {
    -fx-background-color: forestgreen; /* Change color when pressed */
}

.hbox {
    -fx-background-color: darkgreen;
}
