.bomb {
    -fx-background-color: #9fd7ff;
    -fx-border-color: #328add;
    -fx-background-radius: 0 90 90 0;
    -fx-border-radius: 0 90 90 0;
}

.component:hover {
    -fx-cursor: hand;
    -fx-effect: innershadow(gaussian, rgb(255, 255, 255), 10, 0.5, 0, 0);
}

.roomswitchback {
    -fx-background-color: #9fd7ff;
    -fx-background-radius: 10;
    -fx-border-color: #328add;
    -fx-border-radius: 10;

}

.keylocations:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 183, 0, 0.7), 5, 5, 0, 0);
    -fx-cursor: hand;
}


.guard:hover {
    -fx-effect: dropshadow(gaussian, rgba(34, 255, 0, 0.7), 5, 5, 0, 0);
    -fx-cursor: hand;

}

.drawer:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.7), 5, 5, 0, 0);
    -fx-cursor: hand;
}

.red-button {
    -fx-background-color: rgb(130, 10, 10);
    -fx-background-radius: 90;

}

.red-button:hover {
    -fx-cursor: hand;
    -fx-background-color: rgb(102, 4, 4);

}

.genbutton {
    -fx-background-color: black;
    -fx-border-color: green;
    -fx-text-fill: green;
}

.genbutton:hover {
    -fx-cursor: hand;
    -fx-background-color: rgb(33, 31, 31);

}

.gen1button {
    -fx-background-color: grey;
    -fx-text-fill: black;
    -fx-background-radius: 10 30 30 10;

}

.gen1button:hover {
    -fx-background-color: rgb(141, 141, 141);
    -fx-border-radius: 10 30 30 10;
    -fx-border-color: black;

}

.credentials:hover {
    -fx-effect: dropshadow(gaussian, rgba(34, 255, 0, 0.7), 5, 5, 0, 0);
    -fx-cursor: hand;
}

.close-button {
    -fx-background-color: transparent;
    -fx-font-family: 'Baoli SC';
    -fx-text-fill: white;
}

.close-button:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(234, 14, 14, 0.994), 5, 5, 0, 0);
}

.credentials-button {
    -fx-background-color: transparent;
    -fx-font-family: 'Baoli SC';
    -fx-text-fill: black;
}

.credentials-button:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(234, 14, 14, 0.994), 5, 5, 0, 0);
}

.tech-button {
    -fx-background-color: transparent;
    -fx-border-color: #9485e8;
    -fx-font-family: 'copperplate';
    -fx-text-fill: #9485e8;
}

.tech-button:hover {
    -fx-cursor: hand;
    -fx-border-color: #8471ed;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.994), 1, 0.9, 0, 0);
}

.tech1-button {
    -fx-background-color: transparent;
    -fx-border-color: #90f6ff;
    -fx-font-family: 'copperplate';
    -fx-text-fill: #90f6ff;
}

.tech1-button:hover {
    -fx-cursor: hand;
    -fx-border-color: #59e8f5;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.994), 1, 0.9, 0, 0);
}


.computer-button {
    -fx-background-color: #000000;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #b59e1d;
    -fx-text-fill: #b59e1d;
    -fx-font-size: 15px;
    -fx-font-family: 'Weibei SC';

}

.computer-button:hover {
    -fx-border-color: #eccb0f;
    -fx-text-fill: #eccb0f;
    -fx-cursor: hand;
}

.computer-button:pressed {
    -fx-border-color: #b59e1d;
    -fx-text-fill: #b59e1d;
    -fx-cursor: hand;
}

.text {
    -fx-background-color: #000000;
    -fx-border-color: #eccb0f;
    -fx-text-fill: #eccb0f;
    -fx-prompt-text-fill: #eccb0f;

}

/* .goldDoor:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 50, 0, 0.7), 5, 5, 0, 0);
    -fx-cursor: hand;
} */

/* 
.button {
    -fx-background-color: black;
    -fx-text-fill: green;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;  //Adjust padding as needed 
    -fx-background-radius: //5px;  Rounded corners 
}

 //Hover effect 
.button:hover {
    -fx-background-color: darkgreen;  //Change color on hover 
}

 //Pressed effect 
.button:pressed {
    -fx-background-color: forestgreen;  //Change color when pressed 
}
*/

.pourBtn {
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

.pourBtn Text {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 1, 0.0, 0, 1);
}

.search-bar {
    -fx-background-radius: 100;
    -fx-background-color: #FFFFFF;
}